# Basics

### 1.1

In [1]:
3 + 1

4

In [2]:
3 * 3

9

In [3]:
2 ** 3

8

In [4]:
"Hello, world!"

'Hello, world!'

### 1.2

In [5]:
import subprocess

subprocess.call("Script1.py", shell=True)

1

### 1.3

In [6]:
'py' + 'thon'           # + between two strings adds them

'python'

In [7]:
'py' * 3 + 'thon'          # string is added to the string * integer adds the string integer times

'pypypython'

In [8]:
'py' - 'py'            # substraction between two strings is not possible with -

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
'3' + 3             # integer and string can not be added to each other

TypeError: can only concatenate str (not "int") to str

In [10]:
3 * '3'              # integer *(times) string

'333'

In [11]:
a                    # a variable without a type(int,str..) or value can not be used, undefined

NameError: name 'a' is not defined

In [12]:
a = 3                # a is defined as 3 an integer

In [13]:
a                    # a has a place in the memory which equals to 3

3

### 1.4

In [14]:
1 == 1                       # both variables are the same number so true

True

In [15]:
1 == True                       # one is used as true in boolean so true

True

In [16]:
0 == True                       # zero is used as false in boolean is not equal to true

False

In [17]:
0 == False                      # zero is used as false in boolean so true

True

In [18]:
3 == 1 * 3                      # 1*3 is 3 is equal to 3

True

In [19]:
(3 == 1) * 3                    # 3 is not equal to 1 false so 0*3=0

0

In [20]:
(3 == 3) * 4 + 3 == 1                      # 3 is equal to 3 1*4+3=7 7 is not equal to 1

False

In [21]:
3**5 >= 4**4                     # 3^5=243 4^4=256 243 is not bigger or equal to 256

False

### 1.5

In [22]:
5 / 3            # 5 divided to 3 result is given as float number

1.6666666666666667

In [23]:
5 % 3           # 5 is divided to 3 remainder is 2

2

In [24]:
5.0 / 3           # 5 (double) divided to 3 (int) result is given as float number

1.6666666666666667

In [25]:
5 / 3.0           # 5 (int) divided to 3 (double) result is given as float number

1.6666666666666667

In [26]:
5.2 % 3           # 5.2 is divided to 3 remainder is 2.2

2.2

In [27]:
2001 ** 200            # 2001^200 result is an integer number

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

### 1.6

In [28]:
2000.3 ** 200         # 2000.3 is a double number so the result is going to have a lots of numbers and we got an overflow error

OverflowError: (34, 'Result too large')

In [29]:
 1.0 + 1.0 - 1.0        # double numbers 1+1-1=1

1.0

In [30]:
1.0 + 1.0e20 - 1.0e20      # double number is added to a float number it has to many bits and the result is rounded

0.0

### 1.7

In [31]:
name = 'John Doe'

'Hello, ' + name + '!'

'Hello, John Doe!'

### 1.8

In [32]:
float(123)     # integer casted to float number

123.0

In [33]:
float('123')         # integer in a string casted to float number

123.0

In [34]:
float('123.23')          # integer in a string casted to float number

123.23

In [35]:
int(123.23)              # float number casted to integer loses decimal points

123

In [2]:
int('123.23')            # float is written as string and it can not be casted to integer

ValueError: invalid literal for int() with base 10: '123.23'

In [37]:
int(float('123.23'))             # float in a string casted to float as 123.23 and lost decimal to become integer

123

In [38]:
str(12)               # integer is casted to string

'12'

In [39]:
str(12.2)                  # float casted to string

'12.2'

In [40]:
bool('a')        # none, false, zero of any numeric type, empty sequence and mapping returns false everything else is true

True

In [41]:
bool(0)          # zero casted to bool is false

False

In [42]:
bool(0.1)        # same as first one

True

# Control Flow

### 2.1

In [1]:
range(5)         # range gives you 0 to desired number

range(0, 5)

In [2]:
type(range(5))         # range type so a sequence

range

### 2.2

In [4]:
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
for i in range(101):
  if i%7==0:
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [10]:
for i in range(101):
  if i%5==0 and i%3!=0:
    print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [9]:
for x in range(2,21):
    print(x)
    for i in range(2,x):
        if(x%i==0):
            print(i)

2
3
4
2
5
6
2
3
7
8
2
4
9
3
10
2
5
11
12
2
3
4
6
13
14
2
7
15
3
5
16
2
4
8
17
18
2
3
6
9
19
20
2
4
5
10

### 2.3

In [5]:
i = 0
while i in range(101):
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
i = 0
while i in range(101):
  if i%7==0:
    print(i)
  i += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

### 2.4

In [9]:
for sim in xrange(nsim):
    e = agent(wordlist)
    a = agent(wordlist)
    h = Hangman(a, a, lives=lives, verbose=False)
    outcome = h.play()
    wins += outcome

NameError: name 'xrange' is not defined

### 2.5

In [1]:
x = 0
i = 35*11
while x<20:
    if i%5==0 and i%7==0 and i%11==0:
        print(i)
        x += 1
    i += 1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

### 2.6

In [3]:
import math
ans = 1
for i in range(1, 10 + 1):
    ans = int((ans * i)/math.gcd(ans, i))        
print(ans)

2520

### 2.7

In [5]:
def collatz(n):    
    while n != 1:
        print(n, end = ' ')
        if n & 1:
            n = 3 * n + 1
        else:
            n = n // 2
    print(n)
 
collatz(103)

103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

# Functions

### 3.1

In [8]:
def hello_world():
    print('Hello, world!')
    
hello_world()

Hello, world!

In [11]:
def hello_name(name):
    print('Hello, '+name+'!')
    
hello_name('sinem')

Hello, sinem!

Return gives you the result in a usable way(in another methods, operations) as int, str... print prints the result for us to see

### 3.2

In [13]:
def poly(n):
    print(3*(n**2)-n+2)
    
poly(5)

72

### 3.3

In [17]:
def my_max(x, y):
    if x > y:
        return x
    else:
        return y
    
my_max(3,5)

5

In [18]:
def max_of_two(x, y):
    if x > y:
        return x
    return y

my_max(8,12)

12

### 3.4

In [35]:
def is_prime(n):
    if n==2 or n==3: 
        return True
    for i in range(2, n):  
        if n%i==0:
            return False    

    return True  

is_prime(15)

False

In [32]:
def is_prime(n):
    if n==2 or n==3: 
        return True
    if n%2==0 or n<2: 
        return False
    for i in range(3, int(n**0.5)+1, 2):  
        if n%i==0:
            return False    

    return True  

is_prime(53)

True

In [47]:
def print_prime(n):         # up to
    for i in range(2, n + 1):
        if is_prime(i):
            print(i, end = " ")
            
print_prime(15)

2 3 5 7 11 13

In [53]:
def print_primes(n):        # first n
    i=2  
    cnt=0
    while(cnt<n):  
        if(is_prime(i)):  
            print(i, end = " ") 
            cnt+=1
        i+=1 
 
print_primes(10)

2 3 5 7 11 13 17 19 23 29

### 3.5

In [1]:
def f(x):
    return x ** 3 - 2 * x ** 2

def root(a, b):
    while (b - a)/2.0 >= 0:
        midpoint = (a + b)/2.0
        if f(midpoint) == 0:
            return(midpoint) 
        elif f(a)*f(midpoint) < 0: 
            b = midpoint
        else:
            a = midpoint
        
    return(midpoint)


print("Root is:", root(-5,7))

Root is: 2.0

In [74]:
from scipy.optimize import bisect

def f(x):

    return x ** 3 - 2 * x ** 2


x = bisect(f, -5, 7)

print("Root is: %4f" % (x))

Root is: 2.000000

In [3]:
def func(x):
    return x ** 3 - 2 * x ** 2

def root(a, b):
    if (func(a)>0 or func(b)<0):
        print("Check your signs for a and b\n")
        return
    else:
        while (b - a)/2.0 >= 0:
            midpoint = (a + b)/2.0
            if func(midpoint) == 0:
                return(midpoint) 
            elif func(a)*f(midpoint) < 0: 
                b = midpoint
            else:
                a = midpoint
        
        return(midpoint)


print("Root is:", root(-5,7))

Root is: 2.0